.jcarousel-skin-tango {
	height:496px; overflow:hidden;
	margin-bottom:29px;
}
.jcarousel-skin-tango li { float:left;}

.jcarousel-list-horizontal {width:100%
}
.jcarousel-container{left:50%;margin-left:-1410px}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 496px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 941px;
    height: 496px;
	position:relative;
}
.jcarousel-skin-tango .jcarousel-item .caption {background:url(../images/caption.png) 0 0 repeat;position:absolute;width:100%;bottom:0;left:0;z-index:10;padding:10px 0;font-size:12px;line-height:16px; color:#8d8e8f;}
.jcarousel-skin-tango .jcarousel-item .caption strong {color:#fff;font-size:20px;line-height:1.2em;display:inline-block;height:54px;border-right:1px solid #656669;width:134px;padding:0 0 0 22px; font-family: 'Oswald', sans-serif;}
.jcarousel-skin-tango .jcarousel-item .caption span {display:inline-block;width:625px;padding:0 0 0 20px;}
.jcarousel-skin-tango .jcarousel-item .caption span a {color:#fff;font-weight:bold;display:inline-block;margin-top:5px;text-decoration:underline}
.jcarousel-skin-tango .jcarousel-item .caption span a:hover{text-decoration:none}
.jcarousel-skin-tango .jcarousel-item.current {}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    bottom:24px;
    left:0;
	margin-left:1830px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background:url(../images/next.png) no-repeat 0 0;
	z-index:999;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background:url(../images/next-hover.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    bottom:23px;margin-right:-451px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
	z-index:999;
    bottom:24px;
    width: 30px;
	left:0;
	margin-left:1798px;
    height: 30px;
    cursor: pointer;
    background:url(../images/prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background:url(../images/prev-hover.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	margin-right:-419px;
    bottom:23px;}